@charset "UTF-8";

body{
	margin: 0;
}
li{
	list-style: none;
}

.m-taobao{
    width: 304px;
    height: 440px;
    border: 7px solid #f9f9f9;
    box-sizing: border-box;
}

.m-hd{
    height: 56px;
    padding: 0 13px;
    text-align: center;
}

.m-hd>li{
    float: left;
    padding: 8px 15px;
}

.m-hd>li>label{
    display: block;
    color: #fe4330;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -5px;
}

.m-hd>li>span{
    font-size: 12px;
}

.m-bk1{
    width: 292px;
    height: 26px;
    border: 13px solid #F2734F;
    box-sizing: border-box;
    opacity: .02;
}

.m-p1{
    height: 56px;
    padding: 0 13px;
    font-weight: bold;
    font-size: 7.5px;
    text-align: center;
    color: #E15730;
    z-index: 3;
    margin-top: -20px;
    margin-left: -5px;
}

.m-hd1{
    height: 56px;
    padding: 0 13px;
}

.m-hd1>li{
    float: left;
    padding: 3px 13.9px;
    margin-left: -7px;
    margin-top: -26px;
}

.m-hd1>li>lable1{
    color: #000000;
    font-size: 12px;
    margin-left: 3px;
}

.m-hd1>li>lable2{
    color: #000000;
    font-size: 12px;
    margin-left: 8px;
}
.m-hd1>li>lable3{
    color: #000000;
    font-size: 12px;
     font-weight: bold;
    margin-left: 10px;
}
.m-hd1>li>lable4{
    color: #000000;
    font-size: 12px;
    margin-left: 9px;
}
.m-hd1>li>lable5{
    color: #000000;
    font-size: 12px;
    margin-left: 9px;
}

.m-p2{
    height: 45px;
    padding: -1px 11px;
    text-align: center;
    margin-top: -51px;
    margin-left: -22px;
}

.m-p2>li{
    float: left;
    padding: 7px 0px;
}

.m-p2>li>span{
    display: block;
    color: #F2734F;
    font-size: 11px;
    margin-bottom: -5px;
    margin-top: 3px;
    margin-left: 31px;
    z-index: 3;
}

.m-p3>li{
    float: left;
    padding: 0px 30px;
}

.m-p3>li>span{
    display: block;
    color: #000000;
    font-size: 11px;
    margin-bottom: -6px;
    margin-top: -9.5px;
    margin-left: -17px;
    z-index: 4;
}


.picture{
    height: 56px;
    padding: 0px 4px;
    text-align: center;
    margin-top: 7px;
    margin-left: 14px;

}

.picture>li{
    float: left;
    margin-left: -32px;
    padding: 23px 11px;
    width: 76px;
}

.fit-picture1{
    width: 58px;
    height:58px;
}

.fit-picture2{
    width: 58px;
    height: 58px;
    margin-left: 10px;
}

.fit-picture3{
    width: 58px;
    height: 58px;
    margin-left: 22px;
}

.fit-picture4{
    width: 58px;
    height: 58px;
    margin-left: 30px;
    margin-top: 2px;
}

.m-hd2>li{
    color: #8F8F8F;
    float: left;
    padding: 8px 0px;
    margin-top: -15px;
    margin-left: 24px;
}

.m-hd2>li>label{
    font-size: 12px;
     display: block;
    color: #F2734F;
    font-weight: bold;
    margin-bottom: -5px;
}


.m-hd2>li>span{
    font-size: 12px;
     display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: -5px;
}
.m-p4{
    font-size: 7.5px;
    color: #8F8F8F;
    margin-top: -20px;
    margin-left: -5px;
    padding: 97px 27px;
    margin-bottom: -87px;
}

.m-p5{
    font-size: 7.5px;
    color: #000000;
    z-index: 3;
    margin-top: -20px;
    margin-left: 20px;
}

.m-p6>li{
    float: left;
    padding: 8px 0.5px;
}

.m-p6>li>label{
    display: block;
    color: #8F8F8F;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 19px;
}

.m-p7>li>label{
    display: block;
    font-weight: bold;
    font-size: 13.6px;
    margin-top: 9px;
    margin-left: 60px;
    color: #E15730;
}

.m-p8>li>label{
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-top: 11px;
    margin-left: 25px;
    color: #FFFFFF;
}

.m-b1{
    border-bottom: 24px solid #F2734F;
    margin-top: -347px;
    opacity: 0.2;
}

.m-b2{
    border-bottom: 27px solid #fe4330;
    margin-top: 302px;
    width: 67px;
    margin-left: 16px;
}

.m-b3{
    border-bottom: 2.5px solid #fe4330;
    margin-top: -293px;
    width: 33px;
    margin-left: 127px;
}

.m-b4{
    width: 189px;
    height: 51px;
    border: 1.5px solid #8F8F8F;
    box-sizing: border-box;
    margin-left: 16px;
    margin-top: 185px;
}

.m-b5{
    border-bottom: 1.5px solid #8F8F8F;
    margin-top: -26px;
    width: 187px;
    margin-left: 16px;
}


.m-b6{
    width: 222px;
    height: 78px;
    border: 2px solid #f9f9f9;
    box-sizing: border-box;
    margin-left: 71px;
    margin-top: -140px;
}

.m-b7{
   border-bottom: 77.5px solid #f9f9f9;
    width: 2px;
    margin-top: -78px;
    margin-left: 143px;
}

.m-b7{
   border-bottom: 77.5px solid #f9f9f9;
    width: 2px;
    margin-top: -78px;
    margin-left: 216px;
}

.m-b8{
    width: 290px;
    height: 159px;
    border: 1.5px solid #F2734F;
    box-sizing: border-box;
    margin-left: 0px;
    margin-top: -1px;
}

.m-b9{
    width: 71px;
    height: 77px;
    border: 1.5px solid #F2734F;
    box-sizing: border-box;
    margin-left: 0px;
    margin-top: -235px;
}

.m-b10{
    border-bottom: 4.5px solid #FFFFFF;
    width: 69.6px;
    margin-top: -3px;
    margin-left: 1px;
}

.m-b11{
    border-bottom: 75.5px solid #f9f9f9;
    width: 2px;
    margin-top: -78px;
    margin-left: 143px;
}


.picture a{
    height: 56px;
    padding: 0px 4px;
    text-align: center;
    margin-top: 7px;
    margin-left: 14px;

}


.picture b{
    height: 56px;
    padding: 0px 4px;
    text-align: center;
    margin-top: 7px;
    margin-left: 14px;

}

.picture a>li{
    float: left;
    margin-left: -32px;
    padding: 23px 11px;
    width: 76px;
}

.picture b>li{
    float: left;
    margin-left: -32px;
    padding: 23px 11px;
    width: 76px;
}

.fit-picture5{
    width: 15px;
    height: 17px;
    margin-left: 194px;
    margin-top: -101px;
    z-index: 10;
    position: fixed;
}

.fit-picture6{
    width: 8px;
    height: 13px;
    margin-left: 88px;
    margin-top: -310px;
    z-index: 10;
    position: fixed;
    opacity: 0.3;
}
